################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Emby.CycleImages/FileContentIndex/c40d9ccb-b8b4-4ac3-a938-d1b3e8bccef8.vsidx
